{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ book.title }}</title>
{% endblock %}

{% block main %}

    <article>
        <h1>{{ book.title }}</h1>
        {#    <p>{{ author.birthDate }}</p>#}
        <a href="{{ path('admin_books',{'id':author.id}) }}">La liste des livres</a>
        <br>
{#        <a href="{{ path ('admin_delete_author',{'id':author.id })}}">Voulez-vous supprimé ce livre? </a>#}



    </article>
{% endblock %}