{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ author.firstName }}</title>
{% endblock %}

{% block main %}

<article class="auteurs">
    <h1>{{ author.firstName }} {{ author.lastName }}</h1>
    <p>Né le {{ author.birthDate|date('Y-m-d') }}</p>
    <a href="{{ path('admin_authors',{'id':author.id}) }}">La liste des auteurs</a>
    <br>
    <a href="{{ path ('admin_delete_author',{'id':author.id })}}">Voulez-vous supprimé cet auteur? </a>



</article>
{% endblock %}