{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ book.title }}</title>
{% endblock %}

{% block main %}

    <article class="auteurs_seul">
        <h1 class="titre">{{ book.title }}</h1>
        <p>Publié le {{ book.publishedAt|date('Y-m-d') }}</p>
        <a href="{{ path('admin_books',{'id':book.id}) }}">La liste des livres</a>
        <br>
        <a href="{{ path ('admin_delete_book',{'id':book.id })}}">Voulez-vous supprimé ce livre? </a>



    </article>
{% endblock %}